<div style="background-color:#f9346c; color:#ffffff; padding: 10px">
   <h4 style="text-align:center;">Hay un preset listo para continuar</h4>

   <p style="font-size:13px"><i>¿Deseas seguir grabando para la preset?</i></p>


   <div style="font-size:13px; padding: 10px">
      <div style="text-indent: 10px"><i>Grabación:</i></div>
      <div style="text-align: center"><b>escritorio</b></div>
   </div>


    <div style="font-size:13px; padding: 10px">
      <div style="text-indent: 10px"><i>Nombre del Archivo:</i></div>
      <div style="text-align: center"><b>hs</b></div>
    </div>

   <div style="font-size:13px; padding: 10px">
      <div style="text-indent: 10px"><i>RUTA:</i></div>
      <div style="text-align: center"><b>/home/hakyn/imagenes/capturas</b></div>
   </div>

   <div style="font-size:13px; padding: 10px">
      <div style="text-indent: 10px"><i>Activar Folder:</i></div>
      <div style="text-align: center"><b>NO</b></div>
   </div>

   <div style="font-size:13px; padding: 10px">
      <div style="text-indent: 10px"><i>Activar Notificaciones:</i></div>
      <div style="text-align: center"><b>NO</b></div>
   </div>

</div>
